<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Moonmote</title>
    <link rel="stylesheet" href="/css/games.css">
  </head>
  <body>
    <!-- page content -->
    <div class="container-fluid">
      <div class="row">
          {{#each games}}
            <div class="col-sm-6 col-md-3 col-lg-2">
              {{>game}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </body>
</html>