<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Moonmote</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!-- page content -->
    <div class="container-fluid">
      <div class="row games" style="height: 50%; margin: 0;">
        <div class="hero"><i class="fa fa-play-circle-o"></i> GAMES</div>
      </div>
      <div class="row settings" style="height: 50%; margin: 0;">
        <div class="hero"><i class="fa fa-cogs"></i> SETTINGS</div>
      </div>
    </div>
  </body>
</html>